body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

.how-to1 {
  text-align: center;
}

.how-to2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="time"] {
  padding: 12px;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  transition: border 0.2s;
}

input[type="time"],
input[type="text"] {
  flex: 1;
}

input:focus {
  outline: none;
  border-color: #139dff;
}

#add-btn {
  padding: 12px 24px;
  background: #139dff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

#add-btn:hover {
  background-color: #188adc;
}

#add-btn:active {
  background-color: #57b3f5;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  cursor: pointer;
  margin-bottom: 15px;
  transition: all 0.10s ease;
}

.task-content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  min-height: 100px;
  border: none;
  background-color: #33aaff;
  border-radius: 20px;
  padding: 0 20px;
  transition: all 0.3s ease;
}

.task-time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  min-width: 100px;
}

.task-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100%;
}

.task-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
}

.task-details h2, p {
  margin: 0;
  padding: 0;
}

.task-title,
.task-desc,
.task-time {
  color: white;
  transition: all 0.3s ease;
}

.completed .task-title,
.completed .task-desc,
.completed .task-time {
  text-decoration: line-through;
  color: #2474ad !important;
}